* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    /* font-family: 'Work Sans', sans-serif; */
}

/* .header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: top left;
} */

.banner {
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 808px;

    /* margin: -9px 0px 0px -9px; */

}

.banner-container {
    text-align: right;
    margin-left: 745px;
    margin-top: -52px;




}

.head-banner-title {
    font-family: 'Work Sans', sans-serif;
    width: 525px;
    padding-top: 216px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0px;



}

.head-banner-description {
    width: 494px;
    font-family: sans-serif Work Sans;
    margin-left: 30px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 200px;
    margin-top: 24px;
    text-decoration: none;



}

.banner-container>a,
button {
    /* margin-right: 230px; */
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: 364px;
    text-decoration: none;
    position: relative;

}


.failure-title {
    width: 288px;
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 370px;
}

.failure-container {
    display: flex;
    gap: 87px;
}

.person {
    margin-left: 200.86px;
    margin-top: 140px;
}

.failure-description {
    width: 416px;
    color: #444343;
    font-family: sans-serif Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

ul {
    list-style: none;
}

ul>li {
    color: #444343;
    font-family: sans-serif Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

ul li:before {
    content: '✓';
    color: #009959;
}



.icon {
    width: 92.958px;
    height: 92.958px;
    /* margin-top: 130px; */
}

.icon-header {
    color: #151414;
    text-align: center;
    font-family: sans-serif Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.icon-description {
    color: #737272;
    text-align: center;
    font-family: sans-serif Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.plan-container {
    display: flex;
    justify-content: center;
    margin-left: 130px;
    /* margin-right: 130px; */
    margin-top: 130px;
    gap: 150px;


}



.watch-section {
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #d84c15 0%, rgba(241, 91, 34, 0.00)), url('../images/watch.png');
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 130px;

}

.watch-title {
    color: #FFF;
    width: 459px;
    font-family: sans-serif Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 64px;
    padding-top: 8px;


}


.watch-section button {
    width: 160px;
    height: 64px;
    background: white;
    border: 0px;
    color: #F15B22;
    font-family: sans-serif Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    margin-left: 64px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    margin-top: 130px;
    width: 1600px;
    height: 577px;
    background-color: #151414;


}

.future-header {
    color: #F8F8F8;
    font-family: sans-serif Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.future-section {
    margin-left: 100px;
    margin-top: 130px;
}



.future-description,
p {
    width: 485px;
    color: #FFF;
    font-family: sans-serif Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    /* 162.5% */
}

.footer-icon {
    display: flex;
    gap: 20px;
}

.subscribe-section {
    
    margin-top: 130px;

}

.subscribe-title {
    color: #FFF;
    font-family:sans-serif Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}